{{extend 'layout.html'}}
<h2>Input form</h2>
{{=form}}

<h2>submitted variables</h2>
{{=BEAUTIFY(request.vars)}}

<h2>accepted variables</h2>
{{=BEAUTIFY(form.vars)}}

<h2>errors in form</h2>
{{=BEAUTIFY(form.errors)}}