{{extend 'layout.html'}}
{{=form}}

<h2>Submitted vars (request.vars)</h2>
{{=BEAUTIFY(request.vars)}}

<br>
<h2>Accepted vars (form.vars)</h2>
{{=BEAUTIFY(form.vars)}}

<br>
<h2>Errors in form (form.errors)</h2>
{{=BEAUTIFY(form.errors)}}