<!DOCTYPE html>
  <head>
    <title>{{=response.title or request.application}}</title>
  </head>
  <body>
    
    This is the body
          
    <hr>

    <div class="container-fluid main-container">
      {{include}}
    </div>

    <hr>

    <div class="sidebar">
        {{block mysidebar}}
            this is my default sidebar
        {{end}}
    </div>

    This is the bottom

  </body>
</html>
