{{extend 'layout.html'}}
{{=form}}

<hr>

{{if enable_plot_area:}}

    <h1>{{=form.vars.mop_name}} {{=form.vars.m_objs}} objectives</h1>

    <!-- load plotly and our library -->
    <script src="{{=URL('static','js/plotly-latest.min.js')}}"></script>
    <script src="{{=URL('static','js/demo_button.js')}}"></script>

    <!-- create some buttons -->
    <button id="highlight">Highlight points 1,2</button>
    <button id="reset">Reset selection</button>

    <!-- the plots are created within these divs -->
    <div id="scattermat2D" class="plot"></div>
    <div id="pcp" class="plot"></div>
    
    <script>
        // highlight
        let button_hl = document.getElementById("highlight");
        button_hl.addEventListener("click", () => {
            let pointIDs = [1,2];
            pcp_highlightPoints(pointIDs);
            scattermat2D_highlightPoints(pointIDs);
        });
        
        // reset selection
        let button_reset = document.getElementById("reset");
        button_reset.addEventListener("click", () => {
            pcp_resetPoints();
            scattermat2D_resetPoints();
        });

        // the plots are created with this function
        requestPlots();
    </script>

{{pass}}

